body {
    margin: 0;
    padding: 0;
}

.nav-back {
    height: 175px;
    margin-left: 60px;
}

.nav {
    height: 100%;
    width: 338px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
}

i {
    color: rgb(187, 201, 207);
    font-size: 40px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 20px;
    margin-top: 13px;
}

h2 {
    color: rgb(187, 201, 207);
    font-size: 27px;
}

.row {
    display: flex;
    flex-direction: row;
}